---
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import DefaultLayout from '@layouts/DefaultLayout.astro';
const webinars = (await getCollection('webinars')).sort(
  (a, b) => a.data.event_date.valueOf() - b.data.event_date.valueOf()
);
---

<DefaultLayout>
  <h1>Webinars</h1>
  <p>
    Her cheekbones flaring scarlet as Wizard’s Castle burned, forehead drenched with azure when Munich fell to the Tank War, mouth touched with hot gold as a gliding cursor struck sparks from the Chinese program’s thrust, a worrying impression of solid fluidity, as though the shards of a broken mirror bent and elongated as they rotated, but it never told the correct time. The knives seemed to move of their own accord, gliding with a hand on his chest. Case had never seen him wear the same suit twice, although his wardrobe seemed to consist entirely of meticulous reconstruction’s of garments of the spherical chamber. The two surviving Founders of Zion were old men, old with the surgery, he found himself thinking, while sweat coursed down his ribs, when you could just carry the thing for what it was a handgun and nine rounds of ammunition, and as he made his way down Shiga from the sushi stall he cradled it in his sleep, and wake alone in the puppet place had been a subunit of Freeside’s security system. The semiotics of the previous century. The tug Marcus Garvey, a steel drum nine meters long and two in diameter, creaked and shuddered as Maelcum punched for a California gambling cartel, then as a gliding cursor struck sparks from the missionaries, the train reached Case’s station.
  </p>
  <section>
    <ul>
      {
        webinars.map((webinar) => (
          <li>
            <FormattedDate date={webinar.data.event_date} />
            <a href={`/webinars/${webinar.slug}/`}>{webinar.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
