---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { CMS_URL, FEED_URL } from '@globals'

const response = await fetch(`${CMS_URL}/feeds/generated-pages.json`)
const data = await response.json()
let page:any;

Object.values(data.items).forEach((value:any) => {
  if (value.url === '/about/') {
    page = value;
  }
});

---
<DefaultLayout title="About">
  <aside><h4>This page imports the static page content of the about page directly from gymcms.</h4></aside>
  <Fragment set:html={page.content}/>
</DefaultLayout>
