---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import * as global from '@globals'
import ListLinkMap from '@components/ListLinkMap.astro';
import Parser from 'rss-parser'

let parser = new Parser()
const feed = await parser.parseURL(global.BLOG_FEED)

---
<DefaultLayout title="About">
  <h4>{feed.title}</h4>

  <ul>
    <ListLinkMap links={feed.items} />
  </ul>
</DefaultLayout>
