---
import * as global from '@globals'
import ListLinkMap from '@components/ListLinkMap.astro';
import Scripts from './Scripts.astro'

const currentYear = new Date().getFullYear()

---

<footer>
  <div class="container">
    {global.NAV_FOOTER.map(
      (item:any) => 
      <div id={item.title.replaceAll(' ', '-').toLowerCase()} class=`footer-section ${item.title.replaceAll(' ', '-').toLowerCase()}`>
        <h4>{item.title}</h4>
        <ul>
          <ListLinkMap links={item.links} />
        </ul>
      </div>
    )}
    <small>&copy; {currentYear}</small>
  </div>
</footer>
<Scripts/>
