---
import Scripts from './Scripts.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <div class="container">
    <p>
      &copy; {currentYear} <a href="https://thegymnasium.com">Aquent Gymnasium</a>
    </p>
  </div>
</footer>
<Scripts/>
