---
export interface Props {
  links: any;
}

const { links } = Astro.props as Props;
---
{links.map((link:any) => (
  <li>{link.pubDate ?? <span>{link.pubDate}</span>} <a href={link.href || link.link} rel={link.rel} target={link.target}>{link.title}</a></li>
))}
