---
export interface Props {
links: any;
}

const { links } = Astro.props as Props;
---
<ul>
{links.map((link) => (
  <li>
    <a href={link.href} rel={link.rel} target={link.target}>{link.title}</a>
  </li>
))}
</ul>
